<footer>
    <div class="site-map">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-xs-12">
                    <h3>Motos</h3>
                    <div class="new-bike-list">
                        <ul>
                            <li><a href="">PCX</a></li>
                            <li><a href="">POP 100</a></li>
                            <li><a href="">BIZ 100</a></li>
                            <li><a href="">LEAD 110</a></li>
                            <li><a href="">CG FAN</a></li>
                        </ul>
                        <ul>
                            <li><a href="">CG 150 TITAN</a></li>
                            <li><a href="">BIZ 125</a></li>
                            <li><a href="">CG 125 FAN</a></li>
                            <li><a href="">CG 125 CARGO</a></li>
                            <li><a href="">NXR 125 BROS</a></li>
                        </ul>
                        <ul>
                            <li><a href="">CRF 150F</a></li>
                            <li><a href="">NXR 150 BROZ</a></li>
                            <li><a href="">CRF 230F</a></li>
                            <li><a href="">XRE 300</a></li>
                            <li><a href="">NX 400I FALCON</a></li>
                        </ul>
                        <ul>
                            <li><a href="">CB 300R</a></li>
                            <li><a href="">CB 600F HORNET</a></li>
                            <li><a href="">NC 700X</a></li>
                            <li><a href="">CBR 600F</a></li>
                            <li><a href="">CB 500F</a></li>
                        </ul>
                        <ul>
                            <li><a href="">XL700V TRANSALP</a></li>
                            <li><a href="">SHADOW 750</a></li>
                            <li><a href="">CBR 500R</a></li>
                            <li><a href="">CB 1000R</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 visible-lg">
                    <div class="social-icons">
                        <a href="#" class="fbook"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="instagram"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="quick-access">
                        <h3>Acesso Rápido</h3>
                        <ul>
                            <li><a href="#">Seminovas</a></li>
                            <li><a href="#">Oficina</a></li>
                            <li><a href="#">Peças</a></li>
                            <li><a href="#">Boutique</a></li>
                            <li><a href="#">Consórcio</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Seguro</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Regiões Atendidas</a></li>
                            <li><a href="#">Trabalhe Conosco</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-about">
        <div class="container">
           <div class="row">
               <div class="col-md-3 col-sm-12">
                   <img alt="Otobai Honda" src="{{assetsPath}}images/logo.png">
               </div>
               <div class="col-md-9 col-sm-12">
                   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum</p>
               </div>
           </div>


        </div>
    </div>
</footer>
