<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 hidden-xs hidden-sm col-md-2 col-lg-1 no-pd-right">
                    <p class="text-top">Nossas Lojas</p>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-5 no-gutter text-center">
                    <div class="buttons">
                        <a href="#" class="prev button"></a>
                        <a href="#" class="next button"></a>
                    </div>
                    <div class="slider">
                        <div class="slide">
                            <span class="storeName">
                              PEDRO LEOPOLDO
                          </span>
                            <span class="storeNumber">
                              (41) 9801-0044
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2 col-md-2 col-sm-3 no-gutter text-center">
                    <a href="#" class="click-to-call">LIGAMOS PARA VOCÊ</a>
                </div>
                <div class="col-xs-12 col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-1 col-sm-2 hidden-xs no-gutter text-center">
                    <p class="text-top pull-left hidden-xs hidden-sm">Redes Sociais</p>
                    <div class="social-icons">
                        <a href="#" class="fbook"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="instagram"></a>
                    </div>
                </div>
                <div class="col-xs-12 hidden-xs col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-7 col-sm-7 col-sm-offset-5 no-pd-left-lg">
                    <ul class="submenu list-unstyled list-inline">
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Institucional</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">Trabalhe Conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mainMenu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{assetsPath}}images/logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="icon-1">Novos</a></li>
                        <li><a href="#" class="icon-2">Seminovas</a></li>
                        <li><a href="#" class="icon-3">Peças</a></li>
                        <li><a href="#" class="icon-4">Boutique</a></li>
                        <li><a href="#" class="icon-5">Oficina</a></li>
                        <li><a href="#" class="icon-6">Crédito</a></li>
                        <li><a href="#" class="icon-7">Frotista</a></li>
                        <li><a href="#" class="icon-3">Consórcio</a></li>
                        <li><a href="#" class="icon-8">Seguro</a></li>
                        <li><a href="#" class="icon-9 lg-last">Avaliação</a></li>
                        <li class="visible-xs"><a href="#">Institucional</a></li>
                        <li class="visible-xs"><a href="#">Fale Conosco</a></li>
                        <li class="visible-xs"><a href="#">Trabalhe Conosco</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>
