@mixin linearGradient($top, $initial, $bottom, $end){
    background: $top;
    background: -moz-linear-gradient(top,  $top $initial, $bottom $end);
    background: -webkit-gradient(linear, left top, left bottom, color-stop($initial,$top), color-stop($end,$bottom));
    background: -webkit-linear-gradient(top,  $top $initial,$bottom $end);
    background: -o-linear-gradient(top,  $top $initial,$bottom $end);
    background: -ms-linear-gradient(top,  $top $initial,$bottom $end);
    background: linear-gradient(to bottom,  $top $initial,$bottom $end);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

@mixin font-smoothing{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    left: 45%;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;
    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;
        bottom: - $size + 1;

    } @else if $direction == left {
      border-right-color:  $color;
    }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin respond-to($media) {
    /* Landscape phones and down */
    @if $media == extra-small {
        @media (min-width: 240px) { @content; }
    }
    /* Landscape phone to portrait tablet */
    @else if $media == phone {
        @media (min-width: 430px) {@content; }
    }
    /* Portrait tablet to landscape and desktop */
    @else if $media == tablet{
        @media (min-width: 768px) { @content; }
    }
    /* Large desktop */
    @else if $media == desktop {
        @media (min-width: 992px) { @content; }
    }
    /* Large desktop */
    @else if $media == large-desktop {
        @media (min-width: 1200px) { @content; }
    }
    // Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}
