body {
    font-family: 'Roboto', sans-serif;
    @include linearGradient(#F4F4F4, 0%, #FFFFFF, 50%)
}
h2{
    font-weight: 300;
    color: #010101;
    font-size: 30px;
    span{
        color: $primaryColor
    }
    small{
        font-size: 18px;
        color: $primaryColor
    }
}
h3{
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    &.color{
        color: #eb1a24;
        margin-bottom: 0
    }
}
p{
    font-size: 12px;
    color: #535353;
}
h4{
    font-size: 12px;
    margin-bottom: 0
}
.content{
    margin-top: 15px;
}
input, select, textarea{
    -webkit-appearance: none;
   -moz-appearance:    none;
    -o-appearance: none;
   appearance:         none;
}
input::-o-outer-spin-button, input::-o-inner-spin-button {
    -o-appearance: none;
}

.top-bar {
    background-color: #FFF;
    .pull-left {
        margin-right: 15px;
    }
    .button {
        margin: 8px 3px;
        float: left;
        display: block;
    }
    .prev {
        width: 22px;
        height: 22px;
        background: url('../images/prev-button.png') no-repeat center center;
    }
    .next {
        width: 22px;
        height: 22px;
        background: url('../images/next-button.png') no-repeat center center;
    }
    .storeName {
        display: block;
        float: left;
        font-size: 11px;
        color: #000000;
        font-weight: 700;
        margin: 12px 0;
        width: 40%
    }
    .storeNumber {
        display: block;
        float: left;
        font-size: 14px;
        font-weight: 900;
        margin: 10px 0;
        width: 40%
    }
    .click-to-call {
        font-size: 10px;
        font-weight: 900;
        color: #ffffff;
        @include linearGradient(#e5444a, 0%, #c11f24, 100%);
        padding: 4px 9px 3px 9px;
        margin: 9px auto;
        display: block;
        width: 136px;
        &::after {
            content: '';
            display: block;
            float: right;
            width: 9px;
            height: 13px;
            background: url(../images/phone-button.png);
        }
    }
}
.social-icons{
    display: block;
    float: left;
    margin: 9px;
    .fbook::before, .twitter::before, .instagram::before {
        content: '';
        display: block;
        float: left;
        width: 22px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .fbook::before {
        background: url(../images/facebook-button.png);
        margin-right: 5px;
    }
    .twitter::before {
        background: url(../images/twitter.png);
        margin-right: 5px;
    }
    .instagram::before {
        background:url(../images/instagram.png);
    }
}
.no-pd-right {
	padding-right: 0
}
.no-pd-left {
	padding-left: 0
}
.no-pd-left-lg {
    @include respond-to(large-desktop){
        padding-left: 0;
    }
}
.no-gutter{
    padding-left: 0;
    padding-right: 0
}
.submenu{
    margin: 10px 0;
    @include respond-to(large-desktop){
        margin-left: 25px;
    }
}
.submenu{
    li
    {
        padding-left: 0;
        padding-right: 10px;
        a{
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 500;
            color: #e02228;
        }
    }
}

.text-top {
    display: block;
    padding: 13px 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 10px
}

.navbar{
    @include linearGradient(#F2F2F2, 0%, #DDDEDE, 100%);
    @include box-shadow(1px, -1px, 1px, #999999, false);
    .navbar-header{
        padding: 2px 0;
        @include respond-to(tablet){
            width: 100%;
            .navbar-brand {
                width: 100%;
                    img{
                        margin: auto
                        }
            }
        }
        @include respond-to(large-desktop){
            width: auto;
        }
    }
    .navbar-nav{
        li{
            @include respond-to(tablet){
                width: 135px;
            }
            @include respond-to(desktop){
                width: auto;
            }
            a{
            text-align: center;
            font-weight: 700;
            color: #545454;
            font-size: 13px;
            text-transform: uppercase;
            display: block;
                padding: 10px;
            @include respond-to(phone){
                border-left: none
            }
            @include respond-to(large-desktop){
                border-left: 1px solid #D0D0D0;
            }

            &::before{
                @include respond-to(phone){
                    display: none
                }
                @include respond-to(desktop){
                    display: block;
                }
                height: 34px;
                width: 46px;
                margin: auto;
                margin-bottom: 10px;
                content:'';
                background-position: bottom center !important;
                background-repeat: no-repeat !important;
            }
            &.icon-1{
                &::before{
                    background: url(../images/icon-menu-1.png);
                }
            }
            &.icon-2{
                &::before{
                    background: url(../images/icon-menu-2.png);
                }
            }
            &.icon-3{
                &::before{
                    background: url(../images/icon-menu-3.png);
                }
            }
            &.icon-4{
                &::before{
                    background: url(../images/icon-menu-4.png);
                }
            }
            &.icon-5{
                &::before{
                    background: url(../images/icon-menu-5.png);
                }
            }
            &.icon-6{
                &::before{
                    background: url(../images/icon-menu-6.png);
                }
            }
            &.icon-7{
                &::before{
                    background: url(../images/icon-menu-7.png);
                }
            }
            &.icon-8{
                &::before{
                    background: url(../images/icon-menu-8.png);
                }
            }
            &.icon-9{
                &::before{
                    background: url(../images/icon-menu-9.png);
                }
            }
            &:hover{
                color: #d80000 !important;
            }
            &.lg-last{
                @include respond-to(large-desktop){
                    border-right: 1px solid #D0D0D0;
                }
            }
        }
        }
    }
}

#homeCarousel {
    .item{
        @include respond-to(extra-small){
            background-position: center;
            background-size: cover;
            height: 270px;
        }
        @include respond-to(tablet){
            background-position: 30% center;
            background-repeat: no-repeat;
            height: 570px;
        }
        img {
            max-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .carousel-indicators {
        position: inherit;
        margin: 0;
        position: relative;
        z-index: 4 !important;
        left: 13%;
        bottom: 45px;
        text-align: right;
        li {
            border: 2px solid transparent;
            background: #FFF;
            width: 6px;
            height: 6px;
            margin: 1px 5px
        }
        .active {
            width: 10px;
            height: 10px;
            border-color: #FFF;
            background: none;
            margin: -1px 3px
        }
    }
}
.banner{
    margin-bottom: 35px;
}
.pull-to-concept{
    margin-top: -200px;
    .tab-pane {
	    width: 100%;
    }
}
.pull-to-banner {
    @include respond-to(large-desktop){
        margin-top:  -560px
    }
    .tab-content{
        padding: 10px 15px;
        background-color: #ffffff;
        text-align: right;
        input.form-control, textarea.form-control, select.form-control{
            border: none;
            @include linearGradient(#fdfdfd,0%,#eeeeee,100%);
            box-shadow: none;
            color: #000000;
            font-weight: 400;
            font-size: 13px;
            padding: 13px 15px;
            height: 42px;
            @include placeholder{
                color: #000000;
            }
        }
        select.form-control{
            background-image: url(../images/caret.png), linear-gradient(to bottom, #fdfdfd 0%, #eeeeee 100%);
            background-repeat: no-repeat;
            background-position: 92% center;
        }
        textarea.form-control{
            resize: none;
            overflow: hidden;
            height: 62px;
        }
        .form-group{
            margin-bottom: 9px;
        }
        .btn-default{
            color: #FFF;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 700;
            @include linearGradient(#ff4747, 0%, #d21a19, 100%)
        }
        @include respond-to(large-desktop){
            min-height: 470px;
        }
    }
}
#tabs-home{
    border-bottom: 1px solid #FFFFFF;
    .tab-content{
        padding: 10px 15px;
        background-color: #ffffff;
    }
    li{
        font-size: 14px;
        &:first-child{
            width: 40%;
        }
        &:last-child{
            width: 60%;
            a{
                border-right: none
            }
        }
        span{
            display: block;
            font-weight: 700;
        }
        &.active a, &.active a:hover, &.active a:focus{
                border: none;
                color: #ff1a18;
                @include linearGradient(#D2D2D2, 0%,#b5b5b5, 100%)
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    @include triangle(13px, #B5B5B5, down);
                }
        }
        a{
            background-color: #f6f6f6;
            border-radius: 0;
            color: #555555;
            text-transform: uppercase;
            font-weight: 300;
            border: none;
            margin-right: 0;
        }
    }
}
#single-tab{
    background-color: #f6f6f6;
    border-bottom: 1px solid #FFFFFF;
    .tab-content{
        padding: 10px 15px;
        background-color: #ffffff;
    }
    li{
        font-size: 15px;
        width: 108px;
        span{
            display: block;
            font-weight: 700;
        }
        &.active a, &.active a:hover, &.active a:focus{
                border: none;
                color: #ff1a18;
                @include linearGradient(#D2D2D2, 0%,#b5b5b5, 100%)
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    @include triangle(13px, #B5B5B5, down);
                }
        }
        a{
            background-color: #f6f6f6;
            border-radius: 0;
            color: #555555;
            text-transform: uppercase;
            font-weight: 300;
            border: none;
            margin-right: 0;
        }
    }
}
.half-input {
    float: left;
	width: 48%;
    &:first-child{
        margin-right: 2%
    }
}
.slider-carros-home {
	padding: 0 30px
}
.slick-next {
    right: 0;
    &::before{
        content: '';
        background: url(../../frontend/images/next-arrow.png) no-repeat center center;
        width: 22px;
        height: 30px;
        display: block
    }
}
.slick-prev {
    left: 0;
    z-index: 50;
    &::before{
        content: '';
        background: url(../../frontend/images/prev-arrow.png) no-repeat center center;
        width: 22px;
        height: 30px;
        display: block
    }
}
.highlights {
    margin-bottom: 50px;
    .bloco-grande {
        @include respond-to(extra-small){
            width: 100%;
            img{
                width: 100%;
            }
        }
        @include respond-to(desktop){
            width: auto;
            height: 476px;
            img{
                width: auto;
            }
        }
        position: relative;
        z-index: 2;
        overflow: hidden;
        img{
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
        }
        .caption{
            position: absolute;
            z-index: 2;
            top: 8%;
            left: 5%;
            width: 92%;
            h2{
                color: #FFFFFF;
                margin-top: 0;
                font-weight: 300;
                width: 50%;
                text-transform: uppercase;
            }
            p{
                color: #FFFFFF;
            }
        }
    }
    .bloco-medio{
        @include respond-to(extra-small){
            width: 100%;
            img{
                width: 100%;
            }
        }
        @include respond-to(desktop){
            width: auto;
            height: 238px;
            img{
                width: auto;
            }
        }
        position: relative;
        z-index: 2;
        overflow: hidden;
        img{
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
        }
        .caption{
            width: 50%;
            position: absolute;
            z-index: 2;
            top: 8%;
            left: 5%;
            h2{
                margin-top: 0;
            }
        }
    }
    .bloco-pequeno {
        float: left;
        @include respond-to(tablet){
            height: 228px;
        }
        @include respond-to(desktop){
            width: auto;
            height: 238px;
        }
        overflow: hidden;
        div{
            float: left;
            @include respond-to(extra-small){
                width: 100%;
            }
            @include respond-to(tablet){
                width: 60%;
                height: 100%;
            }
            @include respond-to(large-desktop){
                width: 48%;
            }
            height: 100%;
            padding: 20px 35px;
            vertical-align: top;
        }
        p{
            color: #ffffff;
        }
        h2{
            margin-top: 0;
            font-weight: 300;
            color: #FFFFFF;
            font-size: 22px;
        }
        figure{
            float: left;
            overflow: hidden;
            @include respond-to(extra-small){
                width: 100%;
                height: auto;
            }
            @include respond-to(tablet){
                width: 40%;
                height: 100%;
            }
            @include respond-to(large-desktop){
                width: auto;
                height: 100%;
            }
            img{
                @include respond-to(extra-small){
                    width: 100%;
                }
                @include respond-to(tablet){
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                }
                @include respond-to(large-desktop){
                    height: 100%
                }
            }
        }
    }

}
.big-highlights {
    @include respond-to(desktop){
        padding-right: 0
    }
}
.small-highlights {
	@include respond-to(desktop){
        padding-left: 0
    }
}
.pre-footer{
    font-weight: 300;
    font-size: 12px;
    h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 0;

    }
    h4{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0
    }
    .list-address{
        address{
            margin-bottom: 34px;
            h4{
                color: $primaryColor;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                margin-top: 0;
                margin-bottom: 12px
            }
            p{
                font-size: 13px;
                color: #555555;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }
    .latest-news{
        a{
            color: $primaryColor;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 25px;
            display: block;
            span.date{
                display: block;
                clear: both;
                color: #000;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}
footer{
    margin-top: 40px;
    .site-map {
        background-color: #eeeeee;
        padding: 45px 0;
        h3{
            color: $primaryColor;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .new-bike-list {
            float: left;
            width: 100%;
            display: block;
            margin-bottom: 20px;
        ul{
            @extend .list-unstyled;
            float: left;
            display: block;
            @include respond-to(extra-small){
                width: 100%;
                margin-bottom: 0
            }
            @include respond-to(phone){
                width: 50%;
            }
            @include respond-to(tablet){
                width: 20%;
            }
            li{
                a{
                    font-size: 11px;
                    color: #555;
                    font-weight: 400;
                }
            }
        }

    }
        .quick-access{
            ul{
                @extend .list-unstyled;
                float: left;
                display: block;
                @include respond-to(extra-small){
                    width: 100%;
                    margin-bottom: 0
                }
                @include respond-to(phone){
                    width: 50%;
                }
                li{
                    a{
                        font-size: 11px;
                        color: #555;
                        font-weight: 400;
                        text-transform: uppercase
                    }
                }
            }
        }
    }
    .foot-about {
        img{
            margin: auto;
            display: block;
            margin-bottom: 20px;
        }
	    padding: 35px 0;
        p{
            color: #777777;
            font-size: 11px;
            font-weight: 700;
            line-height: 20px;
        }
    }
}

.new-car{
    margin-bottom: 65px;
    a{
        display: block;
        height: 180px;
        img{
            margin: auto;
            height: 100%
        }
    }
}
.concept {
	position: relative;
    text-align: center;
    img{

    }
    .spec{
        position: absolute;
        top: 20px;
        right: 0;
        width: 120px;
        text-align: left;
        line-height: 16.8px;
        color: $primaryColor;
        &:before{
           background: url(../images/spec.png) no-repeat center center;
            content: '';
            width: 27px;
            height: 28px;
            margin-right: 10px;
            display: block;
            float: left;
        }
        span{
            display: block;
            margin-top: -2px;
        }
        &:hover{
            text-decoration: none
        }
    }
}

p.subtitle{
    font-size: 14px;
    color: #666666;
}
.slider-galeria div a{
    position: relative;
    display: block;
    &:before{
        content: '';
        display: block;
        background: url(../images/lupa.png);
        width: 34px;
        height: 34px;
        position: absolute;
        bottom: 10px;
        right: 30px;

    }
}
.description {
	margin-top: 30px;
    p{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
    }
}
.spec-acc {
    margin-bottom: 40px;
    .nav-tabs{
        border-radius: 0;
        border: 1px solid #fafafa;
        li{
            a{
                font-size: 18px;
                color: #000000;
                border: none;
                border-radius: 0;
                padding: 22px;
                margin-right: 0
            }
            &.active{
                a{
                    background: #FAFAFA;
                    border: none;
                    color: #000000
                }
            }
        }
    }
    .tab-content{
        background-color: #fafafa;
        padding: 22px;
        color: #666666;
        font-size: 14px;
        ul li{
            margin-bottom: 10px;
        }
    }
}
.form-page {
	.tab-content{
        padding: 10px 15px;
        background-color: #ffffff;
        text-align: right;
        input.form-control, textarea.form-control, select.form-control{
            border: none;
            @include linearGradient(#fdfdfd,0%,#eeeeee,100%);
            box-shadow: none;
            color: #000000;
            font-weight: 400;
            font-size: 13px;
            padding: 13px 15px;
            height: 42px;
            @include placeholder{
                color: #000000;
            }
        }
        select.form-control{
            background-image: url(../images/caret.png), linear-gradient(to bottom, #fdfdfd 0%, #eeeeee 100%);
            background-repeat: no-repeat;
            background-position: 92% center;
        }
        textarea.form-control{
            resize: none;
            overflow: hidden;
            height: 62px;
        }
        .form-group{
            margin-bottom: 9px;
        }
        .btn-default{
            color: #FFF;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 700;
            @include linearGradient(#ff4747, 0%, #d21a19, 100%)
        }
        @include respond-to(large-desktop){
            min-height: 470px;
        }
    }
}
.slider-another-models {
    margin: 0 30px;
    .slick-prev{
        left: -30px;
        width: 50px;
        height: 53px;
        &::before{
            background: url(../images/prev-another.png) no-repeat center center;
            width: 28px;
            height: 53px;
        }
    }
    .slick-next{
        right: -30px;
        width: 28px;
        height: 53px;
        &::before{
            background:url(../images/next-another.png) no-repeat center center;
            width: 28px;
            height: 53px;
        }
    }
}
.form-busca{
    margin: 30px 0;
    @extend .form-inline;
    select{
        background:url(../images/caret2.png) no-repeat 92% center;
        background-color: #FFF;
        font-size: 12px;
        color: #444444;
    }
    #brand, #model{
	    width: 177px;
    }
    #year_min, #year_max {
        width: 96px;
    }
    .magnifier {
	   -webkit-appearance: none;
       -moz-appearance: none;
        -o-appearance: none;
       appearance: none;
        background: none;
        border: none;
        margin-left: 15px;
    }
}
.search-result-box {
    margin-bottom: 40px;
	.car-name {
	    display: block;
        margin: 15px 0;
        color: #eb1a24;
        font-size: 20px;
        font-weight: 900;
    }
    .used-details {
	    margin-top: 15px;
        list-style: none;
        padding-left: 0;
        li{
            color: #666666;
            &::before{
                content: '- ';
                float: left;
                margin-right: 5px;
            }
        }
    }
}
.used-desc {
    padding: 25px;
    background-color: #F7F7F7;
    border: 2px solid #DDD;
	color: #666666;
    h4{
        margin-top: 0;
        color: #000000;
        margin-bottom: 25px;
    }
    strong{
        color: #000000;
    }
}
.concept-banner {
	height: 272px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px
}

.product{
    margin-top: 35px;
    img{
        margin: auto;
    }
    .product-name {
	    font-size: 15px;
        color: #000000;
        font-weight: 500;
        width: 155px;
        margin: auto;
        margin-top: 20px;
        text-align: center
    }
}
