{% extends 'layouts/application.html' %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Boutique</h2>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique1.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique2.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique3.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique4.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique1.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique2.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique3.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique4.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique1.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique2.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique3.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product">
                        <img src="{{assetsPath}}images/boutique4.png" alt="" class="img-responsive">
                        <p class="product-name">Jaqueta Riffel Dynamic 2.0 Masculina</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-page">
                    <ul class="nav nav-tabs" id="tabs-home" role="tablist">
                        <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                        <li role="presentation"><a href="#financiamento" aria-controls="financiamento" role="tab" data-toggle="tab">Simule<span>Financiamento</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="financiamento">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# javascript especifico da pagina #}
{% block javascript %}
{% endblock %}
