{% extends 'layouts/application.html' %}
{% block content %}
<div class="concept-banner" style="background-image:url({{assetsPath}}images/contato.png)"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Fale Conosco</h2>
                <h3>CONTRACTURE SIT AMET DOLOR</h3>
                <p>Lorem ipsum dolor sit amet , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut la oreet dolore ma  ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  t incidunt ut laoreet dolore magna aliquam erat volutpat .Lorem ipsum dolor sit am et, consecteg elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer ag elit, sed diam nonummy nibh euismod tincidunt ut la oreet dolore ma  ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  t incidunt ut laoreet dolore magna aerat volutpat.</p>

                <h4>LOREM IPSUM DOLOR</h4>
                <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="col-xs-12 col-lg-3 pull-to-concept">
                <div class="form-page">
                    <ul class="nav nav-tabs" id="single-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# javascript especifico da pagina #}
{% block javascript %}
{% endblock %}
