{% extends 'layouts/application.html' %} {% block content %}
<section class="banner">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <div class="carousel-inner">
            <a href="#" style=" background-image:url('{{assetsPath}}images/banner.png')" class="item active">
                <div class="container"></div>
            </a>
            <a href="#" style=" background-image:url('{{assetsPath}}images/banner.png')" class="item">
                <div class="container"></div>
            </a>
            <a href="#" style=" background-image:url('{{assetsPath}}images/banner.png')" class="item">
                <div class="container"></div>
            </a>
            <a href="#" style=" background-image:url('{{assetsPath}}images/banner.png')" class="item">
                <div class="container"></div>
            </a>
            <a href="#" style=" background-image:url('{{assetsPath}}images/banner.png')" class="item">
                <div class="container"></div>
            </a>
        </div>
        <div class="container">
            <ol class="carousel-indicators ">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
                <li data-target="#homeCarousel" data-slide-to="3"></li>
                <li data-target="#homeCarousel" data-slide-to="4"></li>
            </ol>
        </div>
    </div>
    <div class="container pull-to-banner">
        <div class="col-lg-3 col-xs-12 pull-right">
            <div>
                <ul class="nav nav-tabs" id="tabs-home" role="tablist">
                    <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                    <li role="presentation"><a href="#financiamento" aria-controls="financiamento" role="tab" data-toggle="tab">Simule<span>Financiamento</span></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nome:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-mail:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="city" placeholder="Cidade:" class="form-control">
                            </div>
                            <div class="form-group">
                                <select name="store" id="" class="form-control">
                                    <option value="">Loja Desejada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="model" id="" class="form-control">
                                    <option value="">Modelo de Interesse</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                            </div>
                            <input type="submit" class="btn btn-default" value="Enviar"></input>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="financiamento">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nome:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-mail:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="city" placeholder="Cidade:" class="form-control">
                            </div>
                            <div class="form-group">
                                <select name="store" id="" class="form-control">
                                    <option value="">Loja Desejada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="model" id="" class="form-control">
                                    <option value="">Modelo de Interesse</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                            </div>
                            <input type="submit" class="btn btn-default" value="Enviar"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-bike-slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider slider-carros-home">
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/biz-100.png" alt="Biz 100">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/lead-110.png" alt="Lead 110">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/biz-125.png" alt="Biz 125">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-cargo.png" alt="CG 125 Cargo">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-fan.png" alt="CG 125 Fan">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/fan-150-start.png" alt="Fan 150 Start">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/nxr-125-bros.png" alt="NXR 125 Bros">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-cargo.png" alt="NXR 125 Bros">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="homeContent">
    <div class="highlights">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 big-highlights">
                    <div class="bloco-grande">
                       <figure>
                           <img src="{{assetsPath}}images/highlight1.png" alt="">
                       </figure>
                        <div class="caption">
                            <h2>AGENDE SEUS SERVIÇOS</h2>
                            <p>Lorem ipsum dolor sit amet, consec</p>
                        </div>
                    </div>
                    <div class="bloco-medio">
                       <figure>
                           <img src="{{assetsPath}}images/highlight-md.png" alt="">
                       </figure>
                        <div class="caption">
                            <h2>COTAÇÃO ONLINE DE SEGUROS</h2>
                            <p>Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 small-highlights">
                    <div class="bloco-pequeno">
                       <div style="background:#333">
                        <h2>VENDA FROTISTA</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                        </div>
                        <figure>
                            <img src="{{assetsPath}}images/highlight-sm-1.png" alt="">
                        </figure>

                    </div>
                    <div class="bloco-pequeno">
                        <div class="caption" style="background-color: #777777">
                            <h2>AVALIE SUA MOTOCICLETA</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet do</p>

                        </div>
                        <figure>
                            <img src="{{assetsPath}}images/highlight-sm-2.png" alt="">
                        </figure>
                    </div>
                    <div class="bloco-pequeno">
                        <div class="caption" style="background-color: #888888">
                            <h2>CONSÓRCIO NA SUA EMPRESA</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <figure>
                            <img src="{{assetsPath}}images/highlight-sm-3.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <h3 class="color">Honda Motos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <h4>HORÁRIO DE ATENDIMENTO</h4>
                    <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 list-address">
                   <address>
                    <h3 class="color">Lojas</h3>
                        <h4>BELO HORIZONTE</h4>
                        <p>Av. Pedro II, 2323 - (31) 3503 2000</p>
                        <p>Av. Pedro I, 1176 - (31) 3503 2050</p>
                    </address>
                    <address>
                        <h4>PEDRO LEOPOLDO</h4>
                        <p>Av. João L. Jacomel, 12130 - (41) 3665.6565</p>
                    </address>
                    <address>
                        <h4>RIBEIRÃO DAS NEVES</h4>
                        <p>R. Ari Teixeira da Costa, 301 - (31) 3506 8600</p>
                    </address>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 latest-news">
                    <h3 class="color">Notícias</h3>
                    <div>
                        <a href="#">
                            <span class="date">12/04/15</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        </a>
                        <a href="#">
                            <span class="date">12/04/15</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        </a>
                        <a href="#">
                            <span class="date">12/04/15</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
