{% extends 'layouts/application.html' %} {% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Novas</h2>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/biz-100.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/cb-twister.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/cbr-500r.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/cg-160-titan.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/crf-150f.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/gl-1800-gold.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/lead-110.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/cb-500x.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/crf-230f.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/pcx.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/pop-110i.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/trx-420-fourtrax.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/cbr-650r.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 new-car">
                <a href="#">
                    <img src="{{assetsPath}}images/motos/nxr-160-bros-esdd.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {# javascript especifico da pagina #} {% block javascript %} {% endblock %}
