{% extends 'layouts/application.html' %} {% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <h2><span>HONDA</span> CB 300R</h2>
                <div class="concept">
                    <img src="{{assetsPath}}images/nova.png" alt="">
                    <a href="#" class="spec">
                        <span>Confira a ficha técnica</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-lg-offset-1">
                <div class="form-page">
                    <ul class="nav nav-tabs" id="tabs-home" role="tablist">
                        <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                        <li role="presentation"><a href="#financiamento" aria-controls="financiamento" role="tab" data-toggle="tab">Simule<span>Financiamento</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="financiamento">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <h3 class="color">Galeria de Fotos</h3>
                <p class="subtitle">Clique para ampliar</p>
                <div class="slider-galeria">
                    <div>
                        <a href="{{assetsPath}}images/galeria1.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria2.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria2.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria3.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria3.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria4.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria4.png" alt="">
                        </a>
                    </div>
                </div>

                <h3 class="color">Poder e autonomia pra você</h3>
                <div class="description">
                    <p>A moto Honda CB 300R é completa e tem tudo o que se espera de uma moto que é líder de categoria: motor que garante potência e desempenho, tanque com capacidade para percorrer longas distâncias, injeção eletrônica, painel esportivo, há versões com freios ABS e um sistema de proteção que só as motos Honda têm.</p>
                    <p>O design arrojado e a identidade visual marcante são motivos para a moto Honda CB 300R ser destaque de vendas. É esportiva e sofisticada, atendendo necessidades nas ruas e estradas. A versão 2013 agora também é Flex. Motorização que transmite força e esportividade.</p>
                </div>
                <div class="spec-acc">
                    <ul class="nav nav-tabs" id="new-car-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#new-specs" aria-controls="new-specs" role="tab" data-toggle="tab">Especificações técnicas</a></li>
                        <li role="presentation"><a href="#new-acc" aria-controls="new-acc" role="tab" data-toggle="tab">Acessórios</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="new-specs">
                            <ul class="list-unstyled">
                                <li>A moto Honda CB 300R 2013 chega com:</li>
                                <li>Motor: DOCH, monocilíndrico, 4 tempos, arrefecido a ar</li>
                                <li>Cilindrada: 291,6 cm“</li>
                                <li>Sistema de alimentação: Injeção eletrônica de combustível PGM-FI</li>
                                <li>Potência máxima: 26,53 cv a 7.500 rpm</li>
                                <li>Torque máximo: 2,81 kgf.m a 6.000 rpm</li>
                                <li>Transmissão: 5 velocidades</li>
                                <li>Sistema de partida: elétrica</li>
                                <li>Capacidade do tanque: 18 litros</li>
                                <li>Tipo de chassi: Berço semiduplo</li>
                                <li>Comprimento x largura x altura: 2.085 x 745 x 1.040 mm</li>
                                <li>Peso seco: 143 kg (Standard) 148 kg (C-ABS)</li>
                                <li>Cores das motos Honda 2013: vermelha, preta e amarela.</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="new-acc">
                            Acessórios
                        </div>
                    </div>

                </div>
                <div class="another-models">
                    <h4>Outros Modelos</h4>
                    <div class="slider slider-another-models">
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/biz-100.png" alt="Biz 100">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/lead-110.png" alt="Lead 110">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/biz-125.png" alt="Biz 125">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-cargo.png" alt="CG 125 Cargo">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-fan.png" alt="CG 125 Fan">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/fan-150-start.png" alt="Fan 150 Start">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/nxr-125-bros.png" alt="NXR 125 Bros">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="img-responsive" src="{{assetsPath}}images/motos/cg-125-cargo.png" alt="NXR 125 Bros">
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {# javascript especifico da pagina #} {% block javascript %} {% endblock %}
