{% extends 'layouts/application.html' %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="row"></div>
    </div>
</div>
{% endblock %}

{# javascript especifico da pagina #}
{% block javascript %}
{% endblock %}
