{% extends 'layouts/application.html' %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>CB 300R | <span>R$ 19.000,00 <small>ou 12x no cartão</small></span></h2>
                <img src="{{assetsPath}}images/used-car-big.png" class="img-responsive" alt="">
                <h3>Galeria de Fotos</h3>
                <p class="subtitle">Clique para ampliar</p>
                <div class="slider-galeria">
                    <div>
                        <a href="{{assetsPath}}images/galeria1.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria2.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria2.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria3.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria3.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="{{assetsPath}}images/galeria4.png" data-toggle="lightbox" data-gallery="slider-galeria">
                            <img src="{{assetsPath}}images/galeria4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="used-desc">
                    <h4>Acessórios</h4>
                    <p><strong>Modelo</strong> CB 300R</p>
                    <p><strong>Marca</strong> Honda</p>
                    <p><strong>Ano</strong> 2013</p>
                    <p><strong>Placa</strong> DWF-5555</p>
                    <p><strong>Observações:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="form-page">
                    <ul class="nav nav-tabs" id="tabs-home" role="tablist">
                        <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                        <li role="presentation"><a href="#financiamento" aria-controls="financiamento" role="tab" data-toggle="tab">Simule<span>Financiamento</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="financiamento">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# javascript especifico da pagina #}
{% block javascript %}
{% endblock %}
