{% extends 'layouts/application.html' %} {% block content %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Seminovas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu erat sed eros rutrum accumsan. Sed in felis diam. Aliquam condimentum, elit nec ullamcorper consectetur, sem risus tristique neque, a elementum erat ex in mauris.</p>
                <form action="" class="form-busca">
                    <div class="form-group">
                        <select name="brand" id="brand" class="form-control">
                            <option value="">Marca:</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="model" id="model" class="form-control">
                            <option value="">Modelo:</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="year_min" id="year_min" class="form-control">
                            <option value="">De:</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="year_max" id="year_max" class="form-control">
                            <option value="">Até:</option>
                        </select>
                    </div>
                    <button type="submit" class="magnifier"><img src="{{assetsPath}}images/icon-busca.png" alt=""></button>
                </form>
                <p>Resultado de busca: 12 - 34 resultado(s) encontrado(s)</p>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="search-result-box">
                            <a href="#">
                                <img src="{{assetsPath}}images/used-car-1.png" alt="">
                            </a>
                            <a href="#" class="car-name">
                                Lorem Ipsum Dolor
                            </a>
                            <span class="price">R$ 12.000,00</span>
                            <ul class="used-details">
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                                <li>Lorem Ipsum Dolor</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true"><img src="{{assetsPath}}images/prev-pag.png" alt=""></span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true"><img src="{{assetsPath}}images/next-pag.png" alt=""></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="form-page">
                    <ul class="nav nav-tabs" id="tabs-home" role="tablist">
                        <li role="presentation" class="active"><a href="#cotacao" aria-controls="cotacao" role="tab" data-toggle="tab">Solicite<span>Cotação</span></a></li>
                        <li role="presentation"><a href="#financiamento" aria-controls="financiamento" role="tab" data-toggle="tab">Simule<span>Financiamento</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="cotacao">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="financiamento">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Nome:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="E-mail:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefone:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control">
                                </div>
                                <div class="form-group">
                                    <select name="store" id="" class="form-control">
                                        <option value="">Loja Desejada</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="model" id="" class="form-control">
                                        <option value="">Modelo de Interesse</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                    <input type="text" name="city" placeholder="Cidade:" class="form-control half-input">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Mensagem:"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Enviar"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {# javascript especifico da pagina #} {% block javascript %} {% endblock %}
