{# templating imports #}
{% from 'macros/helpers.html' import sprite %}
{% set assetsPath = 'assets/frontend/' %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ assetsPath }}css/global.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {% include "shared/app-icons.html" %}
      {% block head %}{% endblock %}
    </head>
    <body>
        {% include "shared/header.html" %}
        {% include "shared/index.html" %}
        {% block content %}
        {% endblock %}
        {% include "shared/footer.html" %}
        <script src="{{ assetsPath }}js/shared.js"></script>
        <script src="{{ assetsPath }}js/app.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
